*{
    margin: 0%;
    padding: 0%;
}

.logo{
    float: left;
    padding: 8px;
}

nav{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background: rgb(170,86,8);
    background: linear-gradient(90deg, rgba(170,86,8,1) 0%, rgba(129,66,8,1) 50%, rgba(97,49,6,1) 100%);
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav ul a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-variant: small-caps;
    font-size: 17px;
}
a:hover {
    color: rgba(170,86,8,1);
}

.navtext{
    position: absolute;
    left: 45%;
    margin: 10px;
}

.navtext h1{
    font-family: "Square Peg", cursive;
    font-size: 50px;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
    text-shadow: 3px 3px 4px #000000;
}

.heroimg{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./images/alvan-nee-T-0EW-SEbsE-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 20%;
    width: 100%;
    height: 600px;
}

.herotext{
    padding-top: 10%;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 23px;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
    text-shadow: 3px 3px 4px #000000;
}

body{
    background-color: #af7c4e;
}

h2{
    padding-top: 40px;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-align: center;
    text-shadow: 3px 3px 3px #000000;
}

article{
    padding-top: 30px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.6px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-align: center;
    text-shadow: 3px 3px 3px #000000;
}

h3{
    padding: 10px;
}

p{
    padding: 5px;
}

.lastrecipe{
    padding-bottom: 40px;
}

.dogimg{
    padding-right: 27%;
    padding-left: 27%;
}

.dogtext1{
    padding-top: 40px;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-shadow: 3px 3px 3px #000000;
    text-align: center;
}

.dogtext2{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-shadow: 3px 3px 3px #000000;
    text-align: center;
}

.dogtext3{
    padding-top: 39px;
    padding-bottom: 20px;
    font-size: 23px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-shadow: 3px 3px 3px #000000;
    text-align: center;
}

.column{
    float: left;
    width: 33.33%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.contactbox{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-shadow: 3px 3px 3px #000000;
    /* text-align: center; */
    margin: auto;
    background-color: rgba(97,49,6,1);
    width: 30%;
    margin-bottom: 70px;
}

.contpage{
    padding-top: 40px;
    padding-bottom: 70px;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-shadow: 3px 3px 3px #000000;
    text-align: center;
}

.footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, rgba(170,86,8,1) 0%, rgba(129,66,8,1) 50%, rgba(97,49,6,1) 100%);
    color: white;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%; 
}

.medialinks{
    list-style-type: none;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 30px;
}

.cp{
    padding: 20px;
    margin-left: 35%;
}

.page-container {
    position: relative;
    min-height: 100vh;
  }
  
  .content-wrap {
    padding-bottom: 2.5rem;
  }