*{
    margin: 0%;
    padding: 0%;
}

.logo{
    float: left;
    padding: 10px;
}

nav{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background: rgb(170,86,8);
    background: linear-gradient(90deg, rgba(170,86,8,1) 0%, rgba(129,66,8,1) 50%, rgba(97,49,6,1) 100%);
}

nav ul{
    list-style-type: none;
    text-align: center;
}
nav ul a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navtext{
    position: absolute;
    left: 45%;
    margin: 10px;
}

.navtext h1{
    font-family: "Square Peg", cursive;
    font-size: 50px;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
    text-shadow: 3px 3px 4px #000000;
}

.heroimg{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),  url(/FP/images/alvan-nee-T-0EW-SEbsE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 20%;
    width: 100%;
    height: 600px;
}

.herotext{
    padding-top: 15%;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 23px;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
    text-shadow: 3px 3px 4px #000000;
}

body{
    background-color: #af7c4e;
}

h2{
    padding-top: 40px;
    font-size: 35px;
    font-family: "Arial Black", Gadget, sans-serif;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-align: center;
    text-shadow: 3px 3px 3px #000000;
}

article{
    padding-top: 40px;
    font-family: "Arial Black", Gadget, sans-serif;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-align: center;
    text-shadow: 3px 3px 3px #000000;
}

h3{
    padding: 10px;
}

p{
    padding: 5px;
}

.pyrrha{
    padding-left: 20px;
}

.pyrrhatext1{
    padding-top: 40px;
    font-size: 35px;
    font-family: "Arial Black", Gadget, sans-serif;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-shadow: 3px 3px 3px #000000;
}

.pyrrhatext2{
    font-family: "Arial Black", Gadget, sans-serif;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-shadow: 3px 3px 3px #000000;
}